@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans:wght@600');


html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #0a0f1a;
    display: grid;
    place-items: center
}

.card {
    background-color: #152033;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
}

.fa {
    color: #d9d5d5
}

#customFile {
    background-color: #222222;
    border: 1px solid #636161;
    font-size: 0.75rem
}

#customFile:focus {
    outline: none;
    box-shadow: none
}

#processButton {
    background-color: #5c72d8;
    font-size: 0.78rem;
    border: 0px
}

#resetButton {
  background-color: #0a0f1a;
  color: #2a3d5e;
  font-size: 0.78rem;
  border: 0px
}

#resetButton:hover {
  background-color: #040405;
}

.btn-warning {
  border: 0px;
  float:right;
  background-color:#dbedf3;
  color: #152033; /* font color*/
  font-size: 0.78rem;
  width:110px;
}

.btn:focus {
    outline: none;
    box-shadow: none
}

.form-control:focus{
  background-color: #0a0f1a;
}

*:focus {
    outline: none
}

.btn-success{
  background-color: #48bd65;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.column + label {
	cursor: pointer; /* "hand" cursor */
}

.statistic + label {
	cursor: pointer; /* "hand" cursor */
}

/* navbar*/
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #152033;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav label {
  font-size: 14px;
  color: #eeeeee;
}

.sidenav legend {
  color: #eeeeee;
  font-size: 14px;
}

.sidenav a {
  padding: 12px 6px 6px 12px;
  text-decoration: none;
  font-size: 16px;
  color: #eeeeee;
  display: block;
}

.sidenav p {
  padding: 12px 6px 6px 85px;
  text-decoration: none;
  font-size: 20px;
  color: #eeeeee;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

label {
  color: #eeeeee;
}

input[type="text"] {
  background-color: #0a0f1a;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  /*border:2px solid #0a0f1a;*/
}

input[type="text"]:disabled {
  background-color: #0a0f1a;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  /*border:2px solid #0a0f1a;*/
}

option {
  background-color: #0a0f1a;
}

.btn-primary { /*this is the Import CSV button*/
  background-color: #bf1967;
  border:none;
}

.btn-primary:hover {
  background: #a31457;
  border:none;
}

.form-control {
  border-color: #152033;
}

.resetButtonDiv {
  position: absolute;
  bottom: 10;
  width:323px;
}

.ralewayFont {
  font-family: 'PT Sans';
  font-size: 20px;
}

.pattayaFont {
  font-family: 'Pattaya';
  font-size: 20px;
}

#pause:hover { // for the pause button
  background-color: #bf1967;
}
